$counter: 25;
@for $i from 0 through $counter {
  .m-#{5*$i} { margin: 5px * $i !important; }
  .m-t#{5*$i} { margin-top: 5px * $i !important; }
  .m-tr#{5*$i} { margin-top: 5px * $i; margin-right: 5px * $i; }
  .m-tb#{5*$i} { margin-top: 5px * $i; margin-bottom: 5px * $i; }
  .m-tl#{5*$i} { margin-top: 5px * $i; margin-left: 5px * $i; }
  .m-r#{5*$i} { margin-right: 5px * $i; }
  .m-rb#{5*$i} { margin-right: 5px * $i; margin-bottom: 5px * $i;}
  .m-rl#{5*$i} { margin-right: 5px * $i; margin-left: 5px * $i;}
  .m-l#{5*$i} { margin-left: 5px * $i; }
  .m-bl#{5*$i} { margin-left: 5px * $i; margin-bottom: 5px * $i;}
  .m-b#{5*$i} { margin-bottom: 5px * $i;}
}

@for $i from 0 through $counter {
  .p-#{5*$i} { padding: 5px * $i; }
  .p-t#{5*$i} { padding-top: 5px * $i; }
  .p-tr#{5*$i} { padding-top: 5px * $i; padding-right: 5px * $i; }
  .p-tb#{5*$i} { padding-top: 5px * $i; padding-bottom: 5px * $i; }
  .p-tl#{5*$i} { padding-top: 5px * $i; padding-left: 5px * $i; }
  .p-r#{5*$i} { padding-right: 5px * $i; }
  .p-rb#{5*$i} { padding-right: 5px * $i; padding-bottom: 5px * $i;}
  .p-rl#{5*$i} { padding-right: 5px * $i; padding-left: 5px * $i;}
  .p-l#{5*$i} { padding-left: 5px * $i; }
  .p-bl#{5*$i} { padding-left: 5px * $i; padding-bottom: 5px * $i;}
  .p-b#{5*$i} { padding-bottom: 5px * $i;}
}

.pull-xs-left{
  @media all and (max-width: 767px){ float:left; }
}
.pull-sm-left{
  @media all and (min-width: 768px){ float:left; }
}
.pull-md-left{
  @media all and (min-width: 992px){ float:left; }
}
.pull-lg-left{
  @media all and (min-width: 1200px){ float:left; }
}

.pull-xs-right{
  @media all and (max-width: 767px){ float:right; }
}
.pull-sm-right{
  @media all and (min-width: 768px){ float:right; }
}
.pull-md-right{
  @media all and (min-width: 992px){ float:right; }
}
.pull-lg-right{
  @media all and (min-width: 1200px){ float:right; }
}

.xs-center{
  @media all and (max-width: 767px){ text-align:center }
}
.sm-center{
  @media all and (max-width: 992px){ text-align:center }
}
.md-center{
  @media all and (max-width: 1199px){ text-align:center }
}
.lg-center{
  @media all and (max-width: 1200px){ text-align:center }
}

.xs-left{
  @media all and (max-width: 767px){ text-align:left; }
}
.sm-left{
  @media all and (min-width: 992px){ text-align:left; }
}
.md-left{
  @media all and (max-width: 1199px){ text-align:left; }
}
.lg-left{
  @media all and (max-width: 1200px){ text-align:left; }
}

.xs-right{
  @media all and (max-width: 767px){ text-align:right; }
}

.sm-right{
  @media all and (min-width: 768px){ text-align:right; }
}

.md-right{
  @media all and (min-width: 992px) { text-align:right; }
}
.lg-right{
  @media all and (min-width: 1199px){ text-align:right; }
}

$countWidth: 10;
@for $i from 1 through $countWidth {
  .w-#{$i}0 { width: 10% * $i; }
}

.text-truncate {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%is-pointer{
  &:hover{
    cursor:pointer;
  }
}

.xs-hidden{ 
    @media(max-width: 767px){ display: none; }
}

.xs-min-hidden {
  @media(min-width: 768px){ display: none; }
}

.sm-hidden {
  @media(max-width: 991px){ display: none; }
}

.sm-min-hidden { 
  @media(min-width: 992px){ display: none; }
}

.md-hidden {
  @media(max-width: 1199px){ display: none !important; }
}

.md-min-hidden {
  @media(min-width: 1200px){ display: none !important; }
}


/*-------------------[ Text ]------------------------*/
.text-page{
  @include font($font-size-strong, $ubuntu, $color_dark_gray);
}

.text-mutted{
  @include font($font-size-h5-title, $ubuntu, $color_dark_gray);
}

.text-lighten{
  @include font($font-size-strong, $ubuntu, $color_title_gray);
}

/*-------------------[ Link ]------------------------*/

$link-size: 20;
@for $i from 0 through $link-size {
  .link__page-#{$i}{
    font-size:1px * $i;
    font-family:$ubuntu;
    color:$color_main_pink !important;
    @include condition-block{
      text-decoration:none;
      color:lighten($color_main_pink, 10%);
    } 
  }
}

/*-------------------[ Top ]------------------------*/

.b-Top{
  border-top:1px solid $color_extra_light_border;
}
.b-Right{
  border-right:1px solid $color_extra_light_border;
}
.b-Left{
  border-top:1px solid $color_extra_light_border;
}
.b-Bottom{
  border-bottom:1px solid $color_extra_light_border;
}

.b-None{
  border:none !important;
}

.is-relative{
  position:relative;
}

.is-hide{
  display:none;
}

.is-block{
  display:block;
}

.pull-width{
  width:100%;
}

.margin-top-xs-28 {
  @media(max-width: 766px){
    margin-top: 28px;
  }
}

.margin-top-md-28 {
  @media(max-width: 991px){
    margin-top: 28px;
  }
}