.category-menu {
  margin: 0 0 50px;
  padding: 0;
  border-bottom: 1px solid $color_remove_checkout;
  list-style: none;
  text-align: center;

  &__item {
    display: inline-block;
    padding: 17px 20px;

    a {
      font-family: $ubuntu;
      font-size: 24px;
      color: $color_dark_gray;
      font-weight: 600;

      &:hover {
        color: $color_main_pink;
        text-decoration: none;
      }

      @media(max-width: 991px) {
        font-size: 16px;
      }

      @media(max-width: 766px) {
        font-size: 14px;
      }

      @media(max-width: 480px) {
        display: block;
        padding: 10px 0;
      }
    }

    @media(max-width: 766px) {
      padding: 14px 5px;
    }

    @media(max-width: 480px) {
      display: block;
      padding: 0;

      &:not(:first-child) {
        border-top: 1px solid #383838;
      }
    }
  }

  @media(max-width: 766px) {
    margin-bottom: 30px;
  }
}