.configurator__steps{
	position:relative;
}
.configurator__list{
	counter-reset: list 0;
	padding-left:0;
	text-align:right;
	position:absolute;
	top:0;
	right:0;
	margin-bottom:0;
	.configurator__list__item{
		list-style-type: none;
		display:inline-block;
		margin-right:30px;
		position:relative;
		@include font($font-size-default, $segoe, $color_subtitle_gray);   
		&:before{
			counter-increment: list;
    		content: counter(list);
    		display:inline-block;
    		margin-right:10px;
    		text-align:center;
    		font-style:normal;
    		font-weight:$font-weight-semibold;
    		padding:5px 10px;
    		background-color:$color_extra_light_border;
    		@include border-radius(100%);
    		@include font($font-size-default, $segoe, $color_subtitle_gray);    		
		}
		&:after{
			display:block;
			position:absolute;
			content:'>';
			top:2px;
			right:-23px;
			@include font($font-size-h5-title, $segoe, $color_subtitle_gray); 
		}
		&:last-child{
			margin-right:0;
			&:after{
				content:'';
			}
		}
		&.active{
			color:$color_dark_gray;
			&:before{
				color:$color_dark_gray;
			}
		}
		&.done-success{
			color:$color_main_pink;
			&:before{
				background-color:transparent;
				padding:0;
				content:'\f058';
				font:normal normal normal 20px/1 FontAwesome;
				position: relative;
				top: 3px;
				color:$color_main_pink;
				@include border-radius(0);
			}
			&:after{
				top:0;
			}
		}
	}
}

.configurator__aside{
	padding-left:0;
	background-color:$color_thin_gray;
	width:70px;
	float:left;
	.configurator__aside__item{
		list-style:none;
		padding:5px 5px 0 5px;
		.configurator__aside__item__link{
			display:block;
			padding:10px;
			text-align:center;
			border-bottom:1px solid $color_input_border;
			&:hover{
				background-color:$color_input_border;
			}
		}
		&:hover, &.active{
			background-color:$color_main_pink;
			.configurator__aside__item__link{
				border-bottom:1px solid $color_main_pink;
				background-color:$color_main_pink;
			}
			.icon-gray-shirt{
				@include icons-sprite(white_shirts);
			}
			.icon-gray-cups{
				@include icons-sprite(white_cups);
			}
			.icon-gray-suspenders{
				@include icons-sprite(white_suspenders);
			}
			.icon-gray-cup{
				@include icons-sprite(white_cup);
			}
			.icon-gray-towel{
				@include icons-sprite(white_towel);
			}
			.icon-gray-pillo{
				@include icons-sprite(white_pillo);
			}
			.icon-gray-belts{
				@include icons-sprite(white_belts);
			}								
		}		
		&:last-child{
			.campaign__aside__item__link{
				border-bottom:1px solid transparent;
			}
		}
	}
}

.configurator__settings{
	width:450px;
	position:absolute;
	top:0;
	right:0;
	.configurator__settings__item{
		background-color:$color_light_gray;
		padding:15px;
		margin-bottom:2px;
		.configurator__settings__title{
			@include font($font-size-h3-title, $ubuntu, $color_dark_gray);
			margin:0;
			position:relative;
			@extend %is-pointer;
			&:after{
				position:absolute;
				right:0;
				top:0;
				content:'+';
				padding:2px 6px;
				border:1px solid $color_main_pink;
				@include border-radius(100%);
				@include font($font-size-h5-title, $ubuntu, $color_main_pink);
			}
		}
		.configurator__settings__item__body{
			display:none;			
		}
		&.active{
			background-color:$color_thin_gray;
			.configurator__settings__title{
				margin:0;
				margin-bottom:10px;
				padding-bottom:10px;
				border-bottom:1px solid $color_border_sign;
				position:relative;				
				&:after{
					content:'-';
					padding:3px 9px;
					border:1px solid $color_settings_title;
					@include font($font-size-h5-title, $ubuntu, $color_settings_title);
				}
			}
		}
	}	
}
.configurator__settings__filter{
	width:50%;
	padding-right:10px;
	float:left;
	&:last-child{
		padding-right:0;
		padding-left:10px;
	}
}
.configurator__content{
	margin-left:70px;
	margin-right:450px;
	text-align:center;
	margin-bottom:130px;
	.configurator__content__picture{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
}
.configurator__create__settings{
	display:table;
	margin-top:15px;
	border-spacing: 20px 0px;
	border-collapse: separate;
	margin-left: -20px;
    margin-right: -20px;
	.configurator__create__settings__item{
		padding:5px;
		background-color:$color_white;
		border:1px solid $color_input_border;
		display:table-cell;	
		width:50%;	
		@extend %is-pointer;	
		.configurator__create__settings__item__title{
			@include font($font-size-xs, $lato, $color_create_settings);
			margin-top:0;
			margin-left:62px;
		}
		[name='shirt']{
			display:none;
		}
		.configurator__create__settings__item__text{
			@include font($font-size-xs, $lato, $color_title_gray);
			margin-bottom:0;
			margin-left:62px;
		}
		.popover{
			width:40px;	
			padding:5px;
			.popover__block{
				width:28px;
				height:28px;
				padding:3px;
				display:block;			
				border:1px solid $color_input_border;
				margin-bottom:5px;					
				@include border-radius(4px);	
				@extend %is-pointer;
				&:hover{
					border-color:$color_main_pink;
				}
				&:last-child{
					margin-bottom:0;
				}	
				&.active{
					border:1px solid $color_main_pink;
				}	
				.popover__block__color{
					width:20px;
					height:20px;
					display:block;
					margin-bottom:5px;
					&:last-child{
						margin-bottom:0;
					}
					&.color__pink{
						background-color:$color_main_pink;					
					}
					&.color__red{
						background-color:$color_error_red;
					}
					&.color__orange{
						background-color:$color_orange;
					}
					&.color__green{
						background-color:$color_light_green;
					}
				}
			}
		}
	}
}

[data-popover]{
	&.active{
		background-color:$color_opacity_pink;
		border-color:$color_main_pink;
	}
}

.cost__text{
	@include font($font-size-h5-title, $ubuntu, $color_dark_gray);
	margin-bottom:0;
}
.cost{
	@include font($font-size-h3-title, $ubuntu, $color_dark_gray);
	font-weight:$font-weight-bold;
}

.configurator__body{
	background-color:$color_thin_gray;
	padding:20px;
	margin-bottom:10px;
	.configurator__body__title{
		@include font($font-size-h3-title, $ubuntu, $color_dark_gray);
		padding-bottom:10px;
		border-bottom:1px solid $color_extra_light_border;
	}
	.configurator__body__slider{
		@include border-radius(0);		
		background-color:$color_border_sign;
		span{			
			background:$color_main_pink;
			border:1px solid darken($color_main_pink, 10%);
			@include border-radius(100%);
			@include box-shadow(0px 5px 10px 5px rgba(0, 0, 0, 0.02));
			@include condition-block{
				background-color:darken($color_main_pink, 10%);
			}
		}
		.configurator__body__slider__content{
			background:$color_main_pink;
			position:absolute;
			top:0;
			left:0;
			bottom:0;
		}		
	}
	.slider__value{
		padding-top:10px;
		& > * {
			@include border-radius(0);
		}
		.input-group-addon{
			width:60%;
			background-color:$color_opacity_gray;
			@include font($font-size-h6-title, $segoe, $color_title_gray);
		}
	}
}

.configurator__body__product{
	.configurator__body__product__picture{
		border:1px solid $color_extra_light_border;
		padding:10px;
		height:110px;
		width:95px;
		float:left;
		position:relative;
		overflow:hidden;
		background-color:$color-white;
		img{
			width:100%;
			height:100%;
		}
	}
	.configurator__body__product__content{
		margin-left:120px;
		position:relative;
		.configurator__body__product__content__title{
			@include font($font-size-h6-title, $segoe, $color_dark_gray);
			margin-bottom:5px;
		}
		.configurator__body__product__content__text{
			@include font($font-size-h6-title, $segoe, $color_title_gray);
			margin-bottom:20px;
		}
		.configurator__color{
			width:32px;
			height:32px;
			padding:5px;
			border:1px solid $color_input_border;
			margin-right:10px;
			float:left;
			.color__block{
				width:20px;
				height:20px;				
				display:block;
				&.color__black{
					background-color:$color_black;
				}
				&.color__green{
					background-color:$color_light_green;
				}
				&.color__orange{
					background-color:$color_orange;
				}
			}
			&.color__empty{
				border-style:dashed;
			}
			&:last-child{
				.color__block{
					margin-right:0;
				}
			}
		}
		.configurator__body__product__price{
			position:absolute;
			right:0;
			top:10px;
			width:100px;
			padding:10px;			
			background-color:$color_white;
			border:1px solid $color_input_border;
			font-weight:$font-weight-bold;
			text-align:center;
			@include font($font-size-h6-title, $segoe, $color_dark_gray);
		}
	}
}

.modal-backdrop{
	bottom:-5000px;
	z-index:999;
}

.modal{
	.close{
		@include font($font-size-h6-title, $segoe, $color_black);
		position:absolute;
		top:10px;
		right:10px;
		z-index:99999;
	}
	.modal-content{
		@include border-radius(0);
		position:relative;		
	}
}
.artwork__gallery{
	display:block;
	position:relative;
	overflow:hidden;
	float:left;
	width:50px;
	height:50px;
	margin-right:10px;
	border:1px solid $color_light_gray;
	margin-bottom:10px;
	&.active{
		border-color:$color_main_pink;
	}
	.artwork__gallery__picture{		
		position:absolute;
		width:100%;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:auto;
	}
}

.artwork__title{
	@include font($font-size-h4-title, $segoe, $color_dark_gray);
}
.artwork__subtitle{
	@include font($font-size-h6-title, $segoe, $color_title_gray);
}