.grid-home-banners {
  padding-bottom: 100px;

  &__item {
    margin-bottom: 30px;

    &__link {
      position: relative;
      display: block;
      overflow: hidden;

      &__text {
        @include absolute($right: 0, $bottom: 0, $left: 0);
        height: 80px;
        background-color: rgba(#000000, 0.5);
        font-family: $segoe;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 80px;
        text-align: center;

        @media(max-width: 480px) {
          height: 40px;
          line-height: 40px;
        }
      }

      img {
        @include transition(1s ease);

        @media(max-width: 766px) {
          width: 100%;
        }
      }

      &:hover {
        img {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }
  }

  &__row {
    margin-left: -55%;
  }
}