.header{
	background-color:$color_dark_gray;
	padding-top:10px;
	.header__title{
		@include font($font-size-xs, $segoe, $color_white);
	}
	.alert{
		margin-top:0;
		margin-bottom:0;
	}
}
.logo{
	/*text-transform:uppercase;
	line-height:0.5;
	font-weight:$font-weight-bold;
	@include font($font-size-logo, $fonarto, $color_dark_gray);
	&:hover, &:active, &:focus:active, &:focus{
		text-decoration:none;
		color:lighten($color_dark_gray, 10%);
	}*/
	position:absolute;
	top:-30px;
	height:90px;
}
.sign__list{
	padding:0;
	padding-top:5px;
	margin-bottom:0;
	text-align:right;
	.sign__list__item{
		list-style:none;
		display:inline-block;		
		margin-right:10px;		
		.sign__list__item__link{
			@include font($font-size-default, $segoe, $color_dark_gray);
			display:block;
			padding-right:10px;
			position:relative;
			&:after{
				position:absolute;
				content:'';
				width:1px;
				height:10px;
				background-color:$color_light_border;
				top:6px;
				right:0;
			}
			&:hover, &:focus, &:active, &:focus:active{
				text-decoration:none;
				color:$color_main_pink;
			}
			.count_cart{
				top:-7px;
				left:13px;
				width:15px;
				height:15px;
				position:absolute;
				display: block;
				text-align:center;
				padding-top:2px;
				font-style:normal;
				font-weight:$font-weight-bold;
				background-color:$color_main_pink;
				@include border-radius(100%);
				@include font($font-size-small, $ubuntu, $color_white);
			}
			&.account{
				padding-right:30px;
				&:before{
					content:"\f0dd";
					font: normal normal normal 14px/1 FontAwesome;
					position:absolute;
					top:1px;
					right:10px;
				}				
			}			
		}
		.dropdown-menu{				
			@include border-radius(0);
			.dropdown-menu__item{
				text-align:center;
				.dropdown-menu__item__link{
					@include font($font-size-default, $segoe, $color_dark_gray);					
					&.logout__link{
						display:inline-block;							
						margin:5px auto;
						text-align:center;
						padding-top:6px;
						padding-bottom:10px;
						background-color:$color_main_pink;
						@include font($font-size-default, $segoe, $color_white);
					}
				}
			}
		}
		&:last-child{
			margin-right:0px;
			.sign__list__item__link{
				padding-right:0px;
				&:after{
					width:0;
				}
			}
		}

	}
}
.shop__list{	
	margin:0;
	padding-left:0;
	border-bottom:1px solid $color_dark_gray;
	position:relative;
	.shop__list__item{
		list-style:none;
		display:inline-block;
		.shop__list__item__link{
			@include font($font-size-h5-title, $ubuntu, $color_dark_gray);
			display:block;
			margin-right:20px;	
			padding-bottom:20px;		
			.fa{
				color:$color_down_gray;
				margin-left:10px;
				position:relative;
				top:-2px;
			}
			&:hover, &:focus, &:focus:active, &:active{
				color:$color_main_pink;
				text-decoration:none;
				.fa{
					color:$color_main_pink;
				}
			}
		}
		.shop__list__submenu{
			background-color:$color_white;			
			position:absolute;
			top:46px;
			left:0;
			width:100%;
			padding-left:0;
			display:none;
			z-index: 2;
			@include box-shadow(0px 5px 10px 5px rgba(0, 0, 0, 0.02));
			.shop__list__submenu__item{
				list-style:none;
				display:inline-block;
				width:12%;
				.shop__list__submenu__item__link{
					display:block;
					width:100%;
					padding-top:10px;
					padding-bottom:20px;
					text-align:center;
					[class*='icon-']{
						display:block;
						margin:5px auto;
					}
					@include font($font-size-h6-title, $ubuntu, $color_dark_gray);
					&:hover, &:focus, &:active, &:focus:active{
						text-decoration:none;
						color:$color_main_pink;
						.icon-big-star{
							@include icons-sprite(black_star_hover);
						}
						.icon-big-shirts{
							@include icons-sprite(black_shirts_hover);
						}
						.icon-big-caps{
							@include icons-sprite(black_cups_hover);
						}
						.icon-big-suspenders{
							@include icons-sprite(black_suspenders_hover);
						}
						.icon-big-cup{
							@include icons-sprite(black_cup_hover);
						}
						.icon-big-towel{
							@include icons-sprite(black_towel_hover);
						}
						.icon-big-pillo{
							@include icons-sprite(black_pillo_hover);
						}
						.icon-big-belts{
							@include icons-sprite(black_belts_hover);
						}
					}
				}				
			}
			&.sell__submenu{
				.shop__list__submenu__item{
					width:24%;
					position:relative;
					&:last-child{
						text-align:right;
						.shop__list__submenu__item__link{
							background-color:$color_main_pink;
							position: relative;
							top: -20px;
							font-size: 24px;
							padding-top:15px;
							padding-bottom:15px;
							color:$color_white;
							font-size:$font-size-h3-title;
							&:hover, &:focus, &:focus:active, &:active{
								background-color:$color_light_pink;
							}
						}
					}
					&:first-child,
					&:nth-child(2){
						&:after{
							@include icons-sprite(Arrow_menu);
							position:absolute;
							content:'';
							top:40px;
							right:-20px;
						}
					}					
				}
			}
		}
		&:hover{
			.shop__list__item__link{
				color:$color_main_pink;
			}
			/*.shop__list__submenu{
				display:block;
			}*/
		}
	}
}