[class*='icon-']{
	display:inline-block;
}

.icon-enter,
.icon-dark-heart,
.icon-cart,
.icon-account{
	margin-right:10px;
	position:relative;
	top:3px;
	display:block;
	float:left;
}

.icon-enter{
	@include icons-sprite(Login);
}
.icon-dark-heart{	
	@include icons-sprite(Wishlist);	
}
.icon-cart{
	@include icons-sprite(Cart);
}
.icon-account{
	@include icons-sprite(account);
}

.icon-big-star{
	@include icons-sprite(black_star);
}
.icon-big-shirts{
	@include icons-sprite(black_shirts);
}
.icon-big-caps{
	@include icons-sprite(black_cups);
}
.icon-big-suspenders{
	@include icons-sprite(black_suspenders);
}
.icon-big-cup{
	@include icons-sprite(black_cup);
}
.icon-big-towel{
	@include icons-sprite(black_towel);
}
.icon-big-pillo{
	@include icons-sprite(black_pillo);
}
.icon-big-belts{
	@include icons-sprite(black_belts);
}

.icon-create{
	@include icons-sprite(Create-a-design);
}
.icon-cloud{
	@include icons-sprite(Upload-your-design);
}
.icon-money{
	@include icons-sprite(Money);
}

.icon-facebook{
	@include icons-sprite(Facebook-Active);
	&:hover{
		@include transform(scale(1.2));
	}
}
.icon-twitter{
	@include icons-sprite(Twitter-Active);
	&:hover{
		@include transform(scale(1.2));
	}
}
.icon-google{
	@include icons-sprite(Google-Active);
	&:hover{
		@include transform(scale(1.2));
	}
}

.icon-facebook-gray{
	@include icons-sprite(Facebook);
	&:hover{
		@include icons-sprite(Facebook-Active);
	}
}

.icon-twitter-gray{
	@include icons-sprite(Twitter);
	&:hover{
		@include icons-sprite(Twitter-Active);
	}
}
.icon-google-gray{
	@include icons-sprite(Google);
	&:hover{
		@include icons-sprite(Google-Active);
	}
}

.icon-star-gold{
	@include icons-sprite(Star-Gold);
}
.icon-star-gray{
	@include icons-sprite(Star);
}

.icon-dark-plane{
	@include icons-sprite(1);
	float:left;
}
.icon-dark-phone{
	@include icons-sprite(2);
	float:left;
}
.icon-dark-reload{
	@include icons-sprite(3);
	float:left;
}
.icon-dark-star{
	@include icons-sprite(4);
	float:left;
}

.icon-question{
	@include icons-sprite(questions);
}
.icon-pending,
.icon-complete,
.icon-cancelled{
	position:relative;
	top:2px;
}

.icon-pending{
	@include icons-sprite(icon-pending);
}
.icon-complete{
	@include icons-sprite(icon-complete);
}
.icon-cancelled{
	@include icons-sprite(icon-cancelled);
}

.icon-boll{
	@include icons-sprite(boll);
	position:relative;
	top:3px;
	margin-right:5px;
}
.icon-money-small{
	@include icons-sprite(money_small);
}
.icon-left{
	@include icons-sprite(Arrow_left);
	position: relative;
    top: 2px;
    margin-left: 10px;	
}

.icon-gray-shirt{
	@include icons-sprite(gray_shirts);
}
.icon-gray-cups{
	@include icons-sprite(gray_cups);
}
.icon-gray-suspenders{
	@include icons-sprite(gray_suspenders);
}
.icon-gray-cup{
	@include icons-sprite(gray-cup);
}
.icon-gray-pillo{
	@include icons-sprite(gray_pillo);
}
.icon-gray-towel{
	@include icons-sprite(gray_towel);
}
.icon-gray-belts{
	@include icons-sprite(gray_belts);
}

.icon-close{
	@include icons-sprite(close);
	position:absolute;
	top:-15px;
	right:-5px;
	display:block;	
}

.icon-long-shirt,
.icon-middle-shirt,
.icon-small-shirt{
	float:left;
	margin-right:10px;
	margin-top:10px;
}

.icon-long-shirt{
	@include icons-sprite(long-shirt);
}
.icon-middle-shirt{
	@include icons-sprite(middle-shirt);
}
.icon-small-shirt{
	@include icons-sprite(small-shirt);
}

.icon-good-alert{
	@include icons-sprite(icon-good-alert);
}

.icon-good-remove{
	@include icons-sprite(icon-good-remove);
}
.icon-bad-alert{
	@include icons-sprite(icon-bad-alert);
}
.icon-bad-remove{
	@include icons-sprite(icon-bad-remove);
}

.icon-cart-empty{
	@include icons-sprite(cart-empty);
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.icon-double,
.icon-center,
.icon-front,
.icon-horizontal,
.icon-vertical{
	display:block;
}
.icon-double{
	@include icons-sprite(double-element);
}
.icon-center{
	@include icons-sprite(center-element);
}
.icon-front{
	@include icons-sprite(front-element);
}
.icon-horizontal{
	@include icons-sprite(hor-mirror-element);
}
.icon-vertical{
	@include icons-sprite(vert-mirror-element);
}

.icon-circle-plus{
	@include icons-sprite(circle-plus);
}