html, body{
	height:100%;
}

.wrapper{
	min-height:100%;
	padding-bottom:301px;
	overflow: hidden;
}

.head__title{
	margin-top:0;
	border-bottom:1px solid $color_extra_light_border;
	font-weight:$font-weight-bold;
	padding-bottom: 8px;
	@include font($font-size-h1-title, $ubuntu, $color_dark_gray);
}

.head__subtitle{
	@include font($font-size-h3-title, $ubuntu, $color_dark_gray);
	border-bottom:1px solid $color_extra_light_border;
	font-weight:$font-weight-bold;
	padding-bottom: 8px;
}

.sorting__list{
	padding-left:0;
	margin-bottom:0;
	width:100%;
	border-bottom:1px solid $color_extra_light_border;
	.sorting__list__item{
		list-style:none;
		display:inline-block;
		margin-right:20px;
		padding-bottom:10px;
		@include font($font-size-default, $segoe, $color_dark_gray);
		.chosen-container{
			display:inline-block;
			margin-left:5px;
			margin-right:5px;
			width:100px !important;
		}		
		&:last-child{
			margin-right:0;
			.chosen-container{
				width:70px !important;
			}
		}
	}
}

.block__or{
	text-align:center;
	position:relative;
	width:100%;
	.block__or__text{
		display:inline-block;
		padding:10px;			
		background:$color_thin_gray;
		text-align:center;
		text-transform:uppercase;
		z-index: 2;
		position: relative;			
		@include border-radius(100%);
		@include font($font-size-default, $segoe, $color_sign_or);			
	}
	&:before{
		display: block;
		content: "";
		width: 100%;
		border-top: 1px solid $color_border_sign;
		position: relative;
		top: 21px;
		right: 0;
	}
}
img{
	max-width:100%;
}

.page {
  &-title {
	margin: 0;
	font-family: $ubuntu;
	font-weight: 600;

	+ p {
	  margin-top: 10px;
	}
  }

  &-text {
	font-family: $segoe;
  }
}