.mce-tinymce{
	border:1px solid $color_input_border !important;
	button{
		border:1px solid $color_input_border !important;
		color:$color_tiny_mce !important;
		i{
			color:$color_tiny_mce;
		}
	}
}

.mce-toolbar-grp{

}