[data-popover]{
	position:relative;
	&.active{
		[class*='btn-']{
			background-color:$color_main_pink;
			color:$color_white;
		}
	}
	
}

[data-toggle-popover]{
	position:absolute;
	border:1px solid $color_input_border;
	background-color:$color_white;
	display:none;
	@include box-shadow(0 0 20px rgba(0,0,0,0.2));
	@include border-radius(4px);
	&:before, &:after{
		position:absolute;
		content:'';
		top:50%;
	}
	&:before{
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-left: 15px solid $color_white;
		margin-top:-15px;
		right:-15px;
		z-index:2;
	}
	&:after{
		border-top: 16px solid transparent;
		border-bottom: 16px solid transparent;
		border-left: 16px solid $color_input_border;
		margin-top:-16px;
		right:-16px;
		z-index:1;
	}
	&.popover__left{
		left:-55px;
	}
	&.popover__right{
		right:-55px;
	}			
}

.popover__modal{	
	width:800px;
	left:-790px !important;		
	padding:20px;
	z-index:3;
	margin-top:-20px;
	.popover__modal__content{
		overflow-x:hidden;
		max-height:800px;
		overflow-y:auto;
	}
}