.color__block{
	@extend %is-pointer;
	.color__block__item{
		width:24px;
		height:24px;
		float:left;
		margin-right:5px;
		background-color:$color_white;
		padding:2px;			
		.color__mark{
			width:18px;
			height:18px;
			&.color__pink{
				background-color:$color_main_pink;					
			}
			&.color__red{
				background-color:$color_error_red;					
			}
			&.color__orange{
				background-color:$color_orange;
			}
			&.color__green{
				background-color:$color_light_green;
			}
		}				
	}
	.color__block__count{
		@include font($font-size-default, $segoe, $color_subtitle_gray);
		margin-bottom:0;
	}
	&.active{
		.color__block__item{
			border:1px solid $color_light_pink;
		}
	}
}
.size__block{
	@extend %is-pointer;
	.size__block__item{
		width:24px;
		height:24px;
		float:left;
		margin-right:5px;
		background-color:$color_size_bg;
		border:1px solid $color_light_border;	
		text-align: center;
		padding-top: 2px;
		@include font($font-size-default, $segoe, $color_dark_gray);
	}
	.color__block__count{
		@include font($font-size-default, $segoe, $color_subtitle_gray);
		margin-bottom:0;
	}
	&.active{
		.size__block__item{
			border:1px solid $color_light_pink;
		}
	}
}

.sidebar{
	.sidebar_title{
		@include font($font-size-h4-title, $ubuntu, $color_dark_gray);
		margin-top:0;
		padding-top:10px;
		margin-bottom:20px;
		padding-bottom:10px;
		border-bottom:1px solid $color_extra_light_border;
	}
	.sidebar__list{
		padding-left:0;
		margin-bottom:20px;
		.sidebar__list__item{
			list-style:none;
			.sidebar__list__item__link{
				display:block;
				border-bottom:1px solid $color_extra_light_border;
				padding:10px 20px;
				position:relative;
				@include font($font-size-default, $ubuntu, $color_dark_gray);
				@include condition-block{
					text-decoration:none;
					color:$color_main_pink;
					background-color:$color_extra_light_border;
				}
				&.active{
					color:$color_main_pink;	
					@include condition-block{
						background:none;
					}				
					&:before{
						@include icons-sprite(Active);
						position:absolute;
						left:0;
						top:15px;
						content:'';
					}
				}					
			}
		}
	}
	.filter__block{
		.filter__block__title{
			@include font($font-size-default, $segoe, $color_dark_gray);
			font-weight:$font-weight-semibold;
			margin-bottom:20px;
			margin-top:10px;
		}
		.filter__block__label{
			@include font($font-size-default, $segoe, $color_dark_gray);
			margin-left:15px;
			span{
				color:$color_subtitle_gray;
			}
		}
	}
	.filter__list{
		padding-left:0px;
		.filter__list__item{
			list-style:none;
			.filter__list__item__link{				
				display:block;
				padding-left:15px;
				margin-bottom:10px;
				position:relative;
				@include font($font-size-default, $segoe, $color_dark_gray);
				@include condition-block{
					text-decoration:none;
					color:lighten($color_dark_gray,20%);
				}
				&:before{
					@include icons-sprite(Arrow-gray);
					@include transform(rotate(-90deg));
					position:absolute;
					content:'';
					left:0;
					top:7px;
				}
				span{
					color:$color_subtitle_gray;
				}
				&.active{
					&:before{
						@include transform(rotate(0deg));
					}
				}
			}
			.filter__list__item__submenu{
				list-style:none;
			}
		}
	}
	.color__block{
		margin-left:15px;
		.color__block__item{
			margin-right:20px;
			margin-bottom:10px;
		}
	}
	.size__block{
		margin-left:15px;
		.size__block__item{
			margin-right:20px;
			margin-bottom:10px;
		}
	}

  &__title2 {
	margin: 0 0 11px;
	font-family: $ubuntu;
	font-weight: 600;
	color: $color_dark_gray;
  }

  &__menu {
	margin: 0;
	padding: 0;
	list-style: none;

	&__item {
	  a {
		font-family: $segoe;
		font-size: $font-size-default;
		color: $color_dark_gray;
	  }

	  &.active a,
	  & a:hover {
		color: $color_main_pink;
		text-decoration: none;
	  }
	}
  }
}