.alert{
	width:100%;
	position:relative;
	padding-top:10px;
	padding-bottom:0;		
	padding-left:10px;
	padding-right:10px;
	z-index:3;	
	margin-top:10px;
	margin-bottom:10px;
	@include border-radius(0);
	.alert__text{
		font-size:$font-size-h6-title;
		font-family:$segoe;
	}
	[data-remove]{
		position:absolute;
		top:10px;
		right:10px;
		@extend %is-pointer;
	}
	[class*='-alert']{
		position:relative;
		top:5px;
		margin-right:10px;
	}
	&.alert-good{
		background-color:$color_alert_good_bg;
		color:$color_alert_good;
	}
	&.alert-bad{
		background-color:$color_thin_gray;
		color:$color_title_gray;
	}
}