$color_white : white;
$color_black : black;

$color_dark_gray 			: #333333;
$color_title_gray 			: #909a9c;
$color_subtitle_gray 		: #aaaaaa;

$color_light_gray 			: #e5e5e5;
$color_thin_gray 			: #f5f5f5;
$color_opacity_gray 		: #fbfbfb;
$color_size_bg 				: #f4f4f4;

$color_input_border 		: #dfdede;
$color_input_placeholder	: #bbbbbb;
$color_light_border 		: #dddddd;
$color_down_gray 			: #c2c2c2;
$color_extra_light_border	: #eeeeee;
$color_checkbox 			: #8b8b8c;

$color_main_pink 			: #e4436a;
$color_light_pink 			: #ef8ea6;
$color_opacity_pink 		: #fef5f7;

$color_error_red 			: #ff0000;
$color_orange 				: #f69036;
$color_light_green 			: #9fd65d;
$color_required 			: #fb4b3d;
$color_border_sign 			: #dee2e7;
$color_sign_or				: #c6ccd2;
$color_checkbox_label 		: #888888;
$color_pending 				: #ebb141;
$color_completed 			: #43b581;
$color_cancelled 			: #f04848;
$color_settings_title 		: #e6e8ec;
$color_create_settings 		: #292629;

$color_footer_bg 			: #222222;
$color_footer_text 			: #cccccc;
$color_copyright_bg 		: #1a1a1a;
$color_review_text 			: #272c2e;
$color_radio_bg 			: #d5d6d8;
$color_checkout_size 		: #a09f9f;
$color_remove_checkout		: #383838;
$color_checkbox_checkout 	: #a8aeb1;
$color_profile_border 		: #e9e9e9;
$color_profile_button_bg 	: #eaeaea;
$color_profile_button_bg_hover 	: #fbe3e9;

$color_alert_good_bg 		: #e9ffca;
$color_alert_good 			: #6f953a;

$color_gradient1 			: #f1f1f1;
$color_gradient2 			: #dcdcdc;
$color_muted 				: #033333;
$color_tiny_mce 			: #6d7579;

.main_text{
	color:$color_dark_gray;
}
.title_text{
	color:$color_title_gray;
}
.pink_text{
	color:$color_main_pink;
}
.text-muted{
	color:$color_muted;
}