.sidebar__guide{
	margin:0;
	padding:0;
	position:fixed;
	width:250px;
	top:37px;
	left:0;
	bottom:0;
	background-color:$color_opacity_gray;
	border-top:1px solid $color_light_gray;
	border-right:1px solid $color_light_gray;
	.sidebar__guide__item{
		list-style:none;
		.sidebar__guide__item__link{
			display:block;
			width:100%;
			padding-top:10px;
			padding-bottom:10px;
			padding-left:35px;
			border-left:5px solid transparent;			
			border-bottom:1px solid $color_light_gray;
			@include font($font-size-h5-title, $ubuntu, $color_dark_gray);
			&.active, &:hover, &:focus, &:focus:active{
				border-left:5px solid $color_main_pink;
				color:$color_main_pink;
				text-decoration:none;
			}
		}
	}
}

.content__guide{
	margin-left:250px;
	margin-top:45px;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:300px;
	.content__guide__title{
		margin-top:20px;
		margin-bottom:20px;
		padding-bottom:20px;
		border-bottom:1px solid $color_light_gray;
		@include font($font-size-h1-title, $segoe, $color_dark_gray);
	}
	.bscol {
		color: #666;
		text-shadow: 1px 1px 1px #fff;
		padding: 15px;
		background-color: #eee;
	}
	.type-info{
		padding-top:30px;		
		font-weight:$font-weight-bold;
		text-align:center;
		@include font($font-size-default, $segoe, $color_dark_gray);
	}
	.content__guide__subtitle{
		padding-bottom:10px;
		margin-bottom:10px;
		border-bottom:1px solid $color_light_gray;
		@include font($font-size-h3-title, $segoe, $color_black);
	}
	.footer, .copyright{
		display:none;		
	}
}