<div class="row">
    <div class="col-xs-12">
        <div class="home-slider">
            <div>
                <img src="dest/images/home/home-banner.jpg" alt=""/>
            </div>
            <div>
                <img src="images/home/home-banner.jpg" alt=""/>
            </div>
            <div>
                <img src="images/home/home-banner.jpg" alt=""/>
            </div>
        </div>
        <ul class="category-menu">
            <li class="category-menu__item"><a href="">T-Shirts</a></li>
            <li class="category-menu__item"><a href="">T-Cap</a></li>
            <li class="category-menu__item"><a href="">Cup</a></li>
            <li class="category-menu__item"><a href="">Suspenders</a></li>
            <li class="category-menu__item"><a href="">Towel</a></li>
            <li class="category-menu__item"><a href="">Pillows</a></li>
            <li class="category-menu__item"><a href="">Belts</a></li>
        </ul>
    </div>
</div>

<div class="grid-home-banners">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="grid-home-banners__item">
                        <a href="" class="grid-home-banners__item__link">
                            <img src="images/home/home-1.jpg" alt=""/>
                            <span class="grid-home-banners__item__link__text">Pillo</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="grid-home-banners__item">
                        <a class="grid-home-banners__item__link" href="">
                            <img src="images/home/home-4.jpg" alt=""/>
                            <span class="grid-home-banners__item__link__text">Towel</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="grid-home-banners__item">
                        <a class="grid-home-banners__item__link" href="">
                            <img src="images/home/home-5.jpg" alt=""/>
                            <span class="grid-home-banners__item__link__text">Cup</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="grid-home-banners__item">
                        <a class="grid-home-banners__item__link" href="">
                            <img src="images/home/home-8.jpg" alt=""/>
                            <span class="grid-home-banners__item__link__text">Suspenders</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="grid-home-banners__item">
                <a class="grid-home-banners__item__link" href="">
                    <img src="images/home/home-3.jpg" alt=""/>
                    <span class="grid-home-banners__item__link__text">Woman product</span>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-8">
            <div class="grid-home-banners__item">
                <a class="grid-home-banners__item__link" href="">
                    <img src="images/home/home-2.jpg" alt=""/>
                    <span class="grid-home-banners__item__link__text">Popular products</span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="grid-home-banners__item">
                        <a class="grid-home-banners__item__link" href="">
                            <img src="images/home/home-6.jpg" alt=""/>
                            <span class="grid-home-banners__item__link__text">T-Shirt</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6">
                    <div class="grid-home-banners__item">
                        <a class="grid-home-banners__item__link" href="">
                            <img src="images/home/home-7.jpg" alt=""/>
                            <span class="grid-home-banners__item__link__text">T-Cup</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>