.product__preview{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
	display:block;
	padding: 0 15px 20px;
	border:1px solid transparent;
	/*@include transition(.3s ease);
	@include condition-block{
		text-decoration:none;
		//background-color:$color_white;
		border:1px solid $color_profile_border;
		@include transform(scale(1.05));
		@include box-shadow(0 0 20px rgba(0,0,0,0.2));
	}*/
	.product__preview__picture{
		height:340px;
		overflow:hidden;
		position:relative;
		display:block;
		.product__preview__avatar{
			width:100%;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			margin:auto;
		}
	}
	.product__preview__title{
		@include font($font-size-h5-title, $ubuntu, $color_dark_gray);
		margin-top:0;	
		margin-bottom:15px;
		display:block;
		max-width:230px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-left:auto;
		margin-right:auto;	
	}
	.product__preview__content{
		position:relative;
		padding-top:50px;
		display:block
	}
	.product__preview__label{
		width:auto;
		position:absolute;
		top:10px;
		display:inline;
		width:40px;
		text-align:center;
		margin-left:-20px;
		padding:5px;
		@include font($font-size-default, $ubuntu, $color_white);
		&.label__sale{
			background-color:$color_orange;
		}
		&.label__new{
			background-color:$color_light_green;
		}
	}
	.product__preview__color_list{
		padding-left:0;
		.product__preview__color_list__item{
			display:inline-block;
			list-style:none;
			.color__block{
				width:18px;
				height:18px;
				margin-right:10px;
				display:block;
				&.color__black{
					background-color:$color_black;
				}
				&.color__green{
					background-color:$color_light_green;
				}
				&.color__orange{
					background-color:$color_orange;
				}
			}
			&:last-child{
				.color__block{
					margin-right:0;
				}
			}
		}
	}
	.product__preview__price{		
		.product__preview__price__active{
			@include font($font-size-h4-title, $ubuntu, $color_dark_gray);
			.product__preview__price__old{
				@include font($font-size-h6-title, $ubuntu, $color_subtitle_gray);
				text-decoration:line-through;
			}
		}
	}	
	&.wishlist__block{
		text-align:left;
		margin-bottom:20px;		
		&:nth-child(even){
			background-color:$color_opacity_gray;
		}
		.product__preview__content{
			display:inline-block;
			padding-top:5px;				
			.product__preview__label{
				position:static;
				margin-left:0;
			}
		}
		.product__preview__price__active{
			float:left;
			margin-right:20px;
		}
		.remove__checkout{
			margin-right:0;
			margin-left:0;
			margin-bottom:10px;
			margin-top:20px;
		}
		.wishlist__block__text{
			@include font($font-size-default, $segoe, $color_checkout_size);
		}
		.product__preview__title{
			padding-top:20px;
		}		
		.btn__accept{
			clear:both;
		}
		&:last-child{
			margin-bottom:0;
		}
		@include condition-block{
			text-decoration:none;
			border:1px solid transparent;
			@include transform(none);
			@include box-shadow(none);
		}
		&.add-to-cart__block{
			padding:40px;
			display:none;
			border:1px solid $color_light_gray;
			@include box-shadow(0 0 20px rgba(0,0,0,0.2));
			.product__preview__content{
				//text-align:center;
			}
			.product__preview__title{
				padding-top:0;
			}
			.product__preview__label{
				position:static;
				display:inline-block;
				margin-left:10px;
			}
		}
	}
}
.catalog{
	position:relative;
	.loading__block{
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color:rgba(255, 255, 255, 0.9);
		text-align:center;
		padding-top:100px;
		.fa{
			font-size:$font-size-h1-title*2;
			color:$color_main_pink;
		}		
	}	
}

.catalog, .following_products{
	.product__preview{
		@include transition(.3s ease);
		@include condition-block{
			text-decoration:none;
			//background-color:$color_white;
			border:1px solid $color_profile_border;
			@include transform(scale(1.03));
			@include box-shadow(0 0 20px rgba(0,0,0,0.2));
			outline:none;
		}		
	}
}