.checkout__body{
	background-color:$color_thin_gray;
	padding:20px;
	margin-top:-10px;
	margin-bottom:50px;
	.checkout__body__title{
		@include font($font-size-h3-title, $ubuntu, $color_dark_gray);
		padding-bottom:10px;
		border-bottom:1px solid $color_extra_light_border;
	}
	.product__preview{
		.product__preview__picture{
			height:auto;
			.product__preview__avatar{
				position:static;
			}
		}		
	}
}
.checkout__success{
	margin-top:-10px;
	border-left:1px solid $color_extra_light_border;
	border-bottom:1px solid $color_extra_light_border;
	border-right:1px solid $color_extra_light_border;
	padding:20px;
	.checkout__success__text{
		@include font($font-size-h6-title, $ubuntu, $color_dark_gray);
		margin-bottom:0;
		text-align:justify;
	}
}
.checkout__products{
	width:100%;
	thead{
		tr{
			th{
				&:first-child{
					width:30%;
				}
				&:nth-child(2){
					text-align:left;
				}
				padding-top:10px;
				@include font($font-size-default, $segoe, $color_title_gray);
				font-weight:$font-weight-semibold;
				text-align:center;
			}
		}
	}
	tbody{
		tr{
			td{
				vertical-align:top;
				text-align:center;
				padding-top:20px;
				@include font($font-size-h5-title, $segoe, $color_dark_gray);
				&:first-child{
					width:30%;
					padding-right:10px;
					padding-top:0;
				}
				.checkout__products__title{
					@include font($font-size-h5-title, $segoe, $color_dark_gray);
					font-weight:$font-weight-bold;
					text-align:left;
					margin-top:0;
				}
				.checkout__products__list{
					padding-left:20px;
					list-style-image:url(../images/icons/checkout_list.png);
					.checkout__products__list__item{
						text-align:left;
						@include font($font-size-default, $segoe, $color_dark_gray);
						span{
							@include font($font-size-default, $segoe, $color_checkout_size);
							font-style:italic;
						}
					}
				}				
			}
		}
	}
}

[data-affix]{
	&.stick{
		position:fixed;
		top:20px;
	}
}