.comments-post {
  &__title {
    margin: 0;
    font-family: $ubuntu;
    font-size: 18px;
    font-weight: 600;
    color: $color_dark_gray;
  }

  &__item {
    margin-top: 33px;

    &__text,
    &__name,
    &__date {
      display: block;
      font-family: $segoe;
      font-size: $font-size-default;
    }

    &__name {
      margin-bottom: 3px;
      color: $color_main_pink;
      font-weight: 600;
    }
    &__date {
      color: $color_dark_gray;
    }
    &__text {
      margin: 11px 0 0;
      font-style: italic;
      color: #666666;
    }
  }

  &__form {
    margin-top: 23px;

    &-box {
      margin-top: 33px;
    }

    &__item {
      .form-label {
        font-weight: normal;
      }

      input.form-control {
        height: 48px;
      }

      .form-control {
        @include box-shadow(none);
      }
    }

    &__btn {
      width: 150px;
      padding: 6px 0;
      font-size: 16px;
    }
  }
}