.dropzone{
	padding:50px 20px 20px 20px;
	text-align:center;
	border:1px dashed $color_dark_gray;
	background-color:$color_thin_gray;
	margin-top:20px;
	margin-bottom:40px;
	.dz-preview{
		display:none;
	}
	&.dz-drag-hover{
		border:1px solid transparent;
		outline:5px solid $color_dark_gray;	
		background-color:darken($color_thin_gray,2%);	
	}
	.dropzone__content{
		width:50%;
		margin-left:auto;
		margin-right:auto;
	}
	.dropzone__content__title{
		@include font($font-size-h3-title, $segoe, $color_dark_gray);
	}
	.dropzone__content__or{
		text-align: center;
    	position: relative;
    	width: 100%;
    	&:before{
    		display: block;
			content: "";
			width: 100%;
			border-top: 1px solid $color_border_sign;
			position: relative;
			top: 21px;
			right: 0;
    	}
    	.dropzone__content__or__text{
    		display: inline-block;
			padding: 10px;
			background: $color_thin_gray;
			text-align: center;
			text-transform: uppercase;
			z-index: 2;
			position: relative;
			@include border-radius(100%);
			@include font($font-size-default, $segoe, $color_sign_or);
    	}
	}
	.dropzone__content__list{
		padding-left:0;
		text-align:center;
		margin-top:80px;
		margin-bottom:40px;
		.dropzone__content__list__item{
			display:inline-block;
			margin-right:10px;
			width:40px;
			height:40px;
			line-height:40px;
			background-color:$color_white;
			@include border-radius(40px);
			@include font($font-size-default, $ubuntu, $color_checkbox_label);
		}
	}
	.dropzone__content__text{
		@include font($font-size-default, $ubuntu, $color_checkbox_label);
		margin-bottom:0;
	}
}