.footer{
	background-color:$color_footer_bg;
	margin-top:-301px;
	padding-top:40px;
	padding-bottom:40px;
	.footer__title{
		@include font($font-size-h6-title, $ubuntu, $color_footer_text);
		margin-bottom:10px;
	}
	.footer__text{
		@include font($font-size-default, $segoe, $color_footer_text);
	}
	.logo{
		color:$color_white;
		font-weight:$font-weight-regular;
		line-height:1;
		display:block;
		margin-bottom:20px;
		&:hover, &:focus, &:focus:active, &:active{
			color:$color_white;
		}
	}
	.footer__list{
		padding-left:20px;
		color:$color_footer_text;
		.footer__list__item{
			@include font($font-size-default, $segoe, $color_footer_text);
			.footer__list__item__link{
				@include font($font-size-default, $segoe, $color_footer_text);
				&:hover, &:active, &:focus, &:focus:active{
					color:$color_white;
					text-decoration:none;
				}
			}
		}		
	}
}
.copyright{
	padding-top:20px;
	padding-bottom:20px;
	background-color:$color_copyright_bg;
	.copyright__text{
		@include font($font-size-default, $segoe, $color_footer_text);
		margin-bottom:0;
	}
}