.form-group{
	.form-control{		
		border:1px solid $color_input_border;
		resize:vertical;
		
		@include border-radius(0); 
		@include placeholder{
			@include font($font-size-default, $segoe, $color_input_placeholder);
		}
		&:focus, &:active, &:focus:active{
			outline:none;
			border:1px solid $color_light_pink;
			@include box-shadow(none);
		}
		&[disabled]{
			border:none;
			background-color:$color_white;
			background-image:url('../images/icons/disabled.png');
			background-position:5px;
			background-repeat:no-repeat;
			padding-left:20px;
			@include box-shadow(none);			
		}
	}
	&.form-search{
		position:relative;
		margin-bottom:0;
		display:block;
		&:after{
			@include icons-sprite(Search);
			position:absolute;
			content:'';
			top: 10px;
    		right: 15px;
		}
		.form-control{
			padding-right: 40px;
		}
	}
	&.has-error{
		.form-control{
			border:1px solid $color_error_red;
		}
		.error__text{
			margin-top:5px;
			margin-bottom:0;
			@include font($font-size-default, $segoe, $color_error_red);
		}
	}
	&.has-icon{
		position: relative;
		&.left-key{
			border:2px solid $color_white;
			padding:2px;
			&:before{
				position:absolute;
				content:'';
				left: 15px;
				top:10px;
				@include icons-sprite(key);
			}
		}
		&[class*="left-"] .form-control {
		    padding-left: 30px;
		}
	}
	&.form-date{
		position:relative;
		&:after{
			@include icons-sprite(datepicker);
			position:absolute;
			content:'';
			top:10px;
			right:10px;
		}

		&.form-date-focus{
			&:after{
				@include icons-sprite(datepicker-pink);
				position:absolute;
				content:'';
				top:10px;
				right:10px;
			}
		}
	}
	&.form-last-date{
		position:relative;
		&:before{
			position:absolute;
			content:'-';
			font-weight:$font-weight-bold;
			@include font($font-size-h6-title, $segoe, $color_dark_gray);
			left:-20px;
			top:5px;
		}
	}
}
.form-label{
	@include font($font-size-h6-title, $segoe, $color_title_gray);
}

.bootstrap-tagsinput{
	width:100%;
	border:1px solid $color_input_border;
	position: relative;
    padding: 6px;
    max-width: 100%;   
    cursor: default;
    height:auto;
    @include font($font-size-h6-title, $segoe, $color_dark_gray);
    @include border-radius(0);
	input{
		border:none;
	}
	.tag {
		background-color:$color_thin_gray;
		font-weight:$font-weight-regular;
		margin-right:5px;
    	padding: 3px 6px;
    	border:1px solid darken($color_thin_gray, 10%);
		@include font($font-size-h6-title, $segoe, $color_dark_gray);
		[data-role="remove"]{
			margin-left: 8px;
	   		cursor: pointer;	   		
	 		@include border-radius(0);
			&:after {
			    content: "x";
			    padding: 0px 2px;
			   	@include font($font-size-h6-title, $segoe, $color_input_placeholder);		   	
			}
		}
	}
}

.input-group{
	.input-group-addon{		
		background-color:$color_opacity_gray;	
		@include border-radius(0);	
		@include font($font-size-h6-title, $segoe, $color_title_gray);
	}
	.form-control{
		@include border-radius(0);	
	}
}

.form-group {
  &--bigger {
	margin-bottom: 20px;

	input {
	  &.form-control {
		height: 48px;
	  }
	}
	.form-control {
	  @include box-shadow(none);
	}
  }

  &-btn {
	padding: 14px 39px;
  }
}