$pagination-post__btn_width: 100px;

.pagination-post {
  position: relative;
  margin: 50px 0 28px;
  padding: 50px ($pagination-post__btn_width + 30) 50px ($pagination-post__btn_width + 50);
  border-top: 1px solid $color_profile_border;
  border-bottom: 1px solid $color_profile_border;
  @include clearfix;

  &__next,
  &__previous {
    @include absolute($top: 0, $bottom: 0);
    width: $pagination-post__btn_width;
  }

  &__next {
    right: 0;
    text-align: right;
  }
  &__previous {
    left: 0;
  }

  &__item {
    &--post {
      float: left;
      width: 50%;
      padding-right: 20px;

      .month-posts__post__date {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      @media(max-width: 766px) {
        display: none;
      }
    }

    &__link {
      display: table;
      width: 100%;
      height: 100%;
      font-size: $font-size-default;
      color: $color_main_pink;

      span {
        display: table-cell;
        vertical-align: middle;
      }

      &:hover {
        color: $color_main_pink;
      }
    }
  }

  @media(max-width: 766px) {
    padding-left: 0;
    padding-right: 0;
  }
}