.rating{
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;  
    .rating__star{
        position: relative;
        margin-top:2px;
        margin-right: 5px;
        float: right;
        display: block;
        @include icons-sprite(Star);
        &:hover, 
        &:hover ~ .rating__star{
            @include icons-sprite(Star-Gold);
        }
    }
    .rating__control{
        float: right;
        margin-top:2px;
        width: 16px;
        height: 16px;
        padding: 0;
        margin-left: -16px;
        opacity: 0;
        &:checked ~ .rating__star{
             @include icons-sprite(Star-Gold);
        }
    }
    .rating__control:checked ~ .rating__star{
        @include icons-sprite(Star-Gold);
    }
    .rating__text{
        display:inline-block;
        margin-left:10px;
        @include font($font-size-default, $segoe, $color_dark_gray);
    }
}