@media all and (min-width:1200px){
	[data-affix].stick{
		width:360px;
	}
}

@media all and (max-width:1199px){}

@media all and (max-width:1199px) and (min-width:992px){
	[data-affix].stick{
		width:295px;
	}
}

@media all and (min-width:992px){
	.form-group.form-search, .shop__list{
		display:block !important;
	}	
}

@media all and (max-width:992px){
	[data-affix].stick{
		position:static;
	}
	.configurator__aside{
		width:100%;
		float:none;
		.configurator__aside__item{
			float:left;			
			width:calc(100%/7);
			height:71px;
			padding:0;			
			.configurator__aside__item__link{
				border-color:transparent;
				display:block;
				height:71px;
				position:relative;
				[class*='icon-']{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
				}
			}
		}
	}
	.configurator__settings{
		position:static;
		width:100%;
		.configurator__create__settings{
			width:106%;
		}
	}
	.configurator__list{
		display:none;
	}
	.configurator__content{
		margin-left:0;
		margin-right:0;
		width:100%;
		text-align:center;
	}
	.download__list {
		.download__list__item{
			float:none;
			width:100%;
		}
	}
	.dropzone{
		.dropzone__content{
			width:80%;
		}
	}
	.p-tb50{
		padding-top:20px;
		padding-bottom:40px;
	}
	.btn-menu, .btn-search{
		display:block;
	}
	.logo{
		text-align:center;
		display:block;
		line-height:1;
		margin: 0 auto;
   		top: 0;
    	height: 50px;
    	position:relative;
	}
	.sign__list{
		width:100%;
		text-align:center;
		background-color:$color_thin_gray;
		margin-top:20px;
		padding-top:10px;
		padding-bottom:10px;
		margin-bottom:-40px;
		.sidebar__list__item{
			.sidebar__list__item__link{

			}
		}
	}

	.head{
		.form-group{
			&.form-search{
				display:none;			
				position: absolute;
				z-index:1;
				top: -42px;
				right: 50px;
				width: 100%;
				padding-left: 120px;
				.form-control{
					height:auto;
					padding: 8px;
				}
			}
		}
	}
	
	.shop__list{	
		display:none;
		margin-top:10px;
		.shop__list__item{
			display:block;
			width:100%;
			.shop__list__item__link{
				position:relative;
				text-transform: uppercase;
				padding:10px 0 10px 10px;
				margin-right:0;
				.fa{
					position:absolute;
					right:10px;
					top:10px;
				}
				&.active{
					background-color:$color_thin_gray;
					color:$color_main_pink;
				}
			}
			.shop__list__submenu{
				position:static;
				@include box-shadow(none);
				.shop__list__submenu__item{
					display:block;
					width:100%;
					.shop__list__submenu__item__link{
						padding-left:30px;
						text-align:left;
						[class*='icon-']{
							display:none;
						}						
					}
				}
				&.sell__submenu{
					.shop__list__submenu__item{
						width:100%;
						&:last-child{
							.shop__list__submenu__item__link{
								top: 0px;
								margin-bottom:10px;
							}
						}
						&:first-child,
						&:nth-child(2){
							&:after{
								background:none;
							}
						}					
					}
				}
			}
			&:hover{
				.shop__list__submenu{
					display:none;
				}
			}
		}
	}

	.responsive__table{
		thead{
			display:none;
		}
		tbody{
			td{
				display: block;
			    text-align: left;
			    line-height: 100%;
			    width:100% !important;
			    border-width: 0 !important;
			    &:before {
					font-weight: bold;
					display: inline-block;
					content: attr(data-th);
					margin-right:10px;
				}
				.product__preview {
					.product__preview__picture {
						.product__preview__avatar{
							width:auto;
							height:100%;
						}
					}
				}
			}
		}
	}
	.checkout__products {
		tbody {
			tr {
				td {
					.remove__checkout{
						margin:0;
						display: inline-block;	
					}
				}
			}
		}
	}
	.cart{
		tbody{
			tr{
				td{
					text-align:left;
					.remove__checkout {
						margin: 0;
						display: inline-block;
					}
					.quantity{
						display:inline-block;
						position:relative;
						top:10px;
						margin:0;
					}
				}
			}
		}
	}
	.product__preview {
		&.wishlist__block{
			text-align:center;
			.product__preview__price__active{
				float:none;
			}
			.remove__checkout{
				margin-left:auto;
				margin-right:auto;
			}
			.product__preview__picture {
				.product__preview__avatar{
					width:auto;
					height:100%;
				}
			}			
		}		
	}

	.popover__modal{
		width:720px;
		left:-50% !important;
		&:before, &:after{
			border:none;
		}
	}
}

@media all and (min-width:768px) and (max-width:992px){}

@media all and (min-width:768px){
	.sidebar{
		.sidebar__list{
			display:block !important;
		}
		.filter__block{
			.sidebar_title{
				display:none;
			}
			.row{
				display:block !important;
			}
		}

	}
	.xs-min-hidden {
	    display: none;
	}
	.credit-card {
		.card {
		    padding: 40px 30px;
		    width: 495px;
		    height: 315px;
		    float: left;
		}
		.card-front {
		    position: relative;
		    z-index: 1;
		    background: url("../images/payment/card-front.png") no-repeat 0 0;		    
		}
		.card-back {
			position: absolute;
			top: 30px;
			right: 0;
			padding-top: 90px;
			background: url("../images/payment/card-back.png") no-repeat 0 0;
		}
		.form-label{
			color:$color_dark_gray ;
		}
	}
}

@media all and (max-width:767px){

	.popover__modal{
		width:100%;
		left:0 !important;
		&:before, &:after{
			border:none;
		}
	}

	.artwork{
		text-align:center;
		img{

		}
	}

	.configurator__settings{
		.configurator__create__settings{
			width:100%;
			display:block;
			margin-left:0;
			margin-right:0;
		}
		.configurator__create__settings__item{
			width:100%;
			display:block;
			margin-bottom:20px;
			&:last-child{
				margin-bottom:0;
			}
		}
	}

	.configurator__create__settings{
		.configurator__create__settings__item{
			.popover{
				&.popover__left{
					left:70%;
				}
				&.popover__right{
					right:30%;
				}
				&:before{
					border-right: 15px solid $color_white;
					border-left:none;
					left:-15px;
					right:auto;
				}
				&:after{
					border-right: 16px solid $color_input_border;
					border-left:none;
					left:-16px;
					right:auto;				
				}	
			}
		}
	}


	.dropzone{
		.dropzone__content{
			width:95%;
		}
	}
	[class*="col-sm-"]{
		&.p-0{
			padding-left:15px;
			padding-right:15px;
		}
	}

	.inform {
		.inform__block{
			width:100%;
			border-bottom:1px solid $color_extra_light_border;
			&:last-child{
				border-bottom:none;
			}
		}
	}

	.product__preview {
		.product__preview__picture {
			.product__preview__avatar{
				width:auto;
				height:100%;
			}
		}
	}

	.sidebar{	
		margin-bottom:20px;	
		.sidebar__list{
			display:none;
		}
		.sidebar_title{
			position:relative;
			&:after{
				content:"\f0dd";
				font: normal normal normal 14px/1 FontAwesome;
				position:absolute;
				top:10px;
				right:10px;
			}
			&.active{
				color:$color_main_pink;
				&:after{
					color:$color_main_pink;
					top:20px;
					@include transform(rotate(180deg));
				}
			}
		}
		.filter__block{
			.row{
				display:none;
			}
			.sidebar_title, .filter__block__title{
				position:relative;
				&:after{
					content:"\f0dd";
					font: normal normal normal 14px/1 FontAwesome;
					position:absolute;
					top:10px;
					right:10px;
				}
				&.active{
					color:$color_main_pink;
					&:after{
						color:$color_main_pink;
						top:20px;
						@include transform(rotate(180deg));
					}
				}
				&:hover{
					cursor:pointer;
				}				
			}
			.sidebar_title{
				display:block;
				padding-bottom:10px;
				border-bottom:1px solid $color_extra_light_border;				
			}
			.filter__block__title{
				display:none;			
			}
		}
	}

	.quantity{
		float:none;
		margin-bottom:10px;
	}

	.product__add_to_cart{
		float:none;
	}

	.sorting__list{
		.sorting__list__item{
			&:first-child, &:last-child{
				display:none;
			}
		}
	}

	.sign__block{
		padding: 20px;
	}

	.form-group{
		&.form-last-date{
			&:before{
				left:50%;
				margin-left:-7px;
				top:-25px;
			}
		}
	}
}