.sign__block{
	background-color:$color_thin_gray;
	padding:40px 60px;
	margin-top:40px;
	margin-bottom:40px;
	.sign__block__title{
		text-align:center;
		margin-top:0;
		@include font($font-size-h4-title, $ubuntu, $color_dark_gray);	
		span{
			display:block;
			font-weight:$font-weight-bold;
			font-size:$font-size-h3-title;
			margin-bottom:10px;
		}
	}
	.sign__block__social{
		text-align:center;
		margin-top:10px;
		a{
			&:hover{
				text-decoration:none;
			}
		}
	}	
	.sign__block__link{
		@include font($font-size-default, $segoe, $color_main_pink);
		@include condition-block{
			text-decoration:none;
			color:lighten($color_main_pink, 10%);
		}
	}
	.cb-checkbox{
		@include font($font-size-default, $segoe, $color_checkbox_label);
	}
	.sign__block__accept{
		display:block;
		margin-bottom:20px;
		margin-top:10px;
		padding-top:10px;
		padding-bottom:10px;
		text-align:center;
		width:100%;
		border:none;
		background-color:$color_main_pink;
		@include font($font-size-h4-title, $segoe, $color_white);	
		@include condition-block{
			text-decoration:none;
			color:$color-white;
			background-color:darken($color_main_pink, 10%);
			@include transition(all 0.3s ease);
		}
	}
	.sign__block__text{
		margin-bottom:0;
		text-align:center;
		@include font($font-size-h6-title, $segoe, $color_dark_gray);
	}
}