.following_products, .relating_products{ 
    position: relative;
    margin-bottom:40px;
}
.relating_products{
    .product__preview{
        @include condition-block{
            text-decoration:none;
            border:1px solid $color_profile_border;
            @include box-shadow(0 0 20px rgba(0,0,0,0.2));
            outline:none;
        }
    } 
}

.slick-list{
    overflow: hidden;
}
*{
    &:focus, &:focus:active{
        outline:none;
    }
}
.slick-slide{
   display:inline-block;
}
.slick-arrow{
    text-indent:-99999px;
    height:30px;
    width:30px;
    top:-60px;
    position:absolute;
    border:none;
    background-color:$color_extra_light_border;
    color:$color_white;
    &:before{
        text-indent:0;
        display:block;
        @include font($font-size-h4-title, FontAwesome, $color_dark_gray);
    }
    &.slick-prev{
        right:47px;
        &:before{
            content:"\f104";
        }
    }
    &.slick-next{
        right:15px;
        &:before{
            content:"\f105";
        }
    }
    &:hover, &:focus, &:focus:active, &:active{
        background-color:$color_main_pink;
        &:before{
            color:$color_white;
        }
    }
}